<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DBConnectionString" value="Server=tcp:appsdevsql.database.windows.net,1433;Database=aec_db_dev_3;User ID=appseconnect@appsdevsql;Password=1nSyncTech;Trusted_Connection=False;Encrypt=True;Connection Timeout=300;" />
  </appSettings>
</configuration>